@import '../../Goods.scss';

.goods-container-discount {
  @include responsive-width;
  .bread-crumb {
    margin: 0;
    margin-top: 30px;
  }
  h1 {
    font-size: 25px;
    font-weight: 500;
    line-height: 27px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #000000;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .goods-main {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 40px;
    gap: 40px;
    @media (max-width: 1024px) {
      display: flex;
      flex-direction: column;
    }
  }
  .discount-pagination {
    margin-bottom: 40px;
  }
}
