.discount-level {
  border-radius: 8px;
  padding: 16px;

  &__title {
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 8px 0;
    color: #333;
  }

  &__subtitle {
    margin: 0;
  }

  &__progress-container {
    position: relative;
    height: 80px;
    margin-top: 40px;
    z-index: 0;
  }

  &__progress-bar {
    position: absolute;
    top: 54px;
    left: 0;
    left: 0;
    right: 0;
    height: 4px;
    border-radius: 2px;
    background-color: #999;
    overflow: hidden;
  }

  &__dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #d93a3f;
    border: 1px solid white;
  }
  &__progress {
    height: 100%;
    background-color: #d93a3f;
    border-radius: 2px;
    transition: width 0.5s ease;
  }

  &__marker {
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #999;
    z-index: 2;

    &--active {
      color: #333;

      .discount-level__diamond {
        border-color: #d93a3f;

        svg {
          color: #d93a3f;
        }
      }
    }
  }

  &__percent {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 4px;
  }

  &__amount {
    font-size: 12px;
    white-space: nowrap;
  }
  &__text {
    color: #626262;
    margin-top: 40px;
  }
}
