.selectedProducts {
  &__title {
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 39px;
  }
  &__container {
    display: flex;
    flex-direction: column;
    gap: 11px;
  }
  &__noneWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
  &__none {
    width: 100%;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
  }
  &__none--link {
    width: 100%;
    font-weight: 20px;
    text-align: center;
    a {
      color: #a3aebd;
    }
  }
  &__item {
    padding: 24px 39px;
    box-sizing: border-box;
    // max-width: 855px;
    display: flex;
    align-items: center;
    // justify-content: space-between;
    width: 100%;
    height: 176px;
    gap: 10px;
    border-radius: 5px;
    border: solid 1px #e4e4e4;
    .itemInfo {
      margin-left: 38px;
      &__description {
        color: #504e4e;
      }
      &__rating {
        display: flex;
        align-items: center;
        gap: 20px;
        .rewiev {
          display: flex;
          align-items: center;
          span {
            margin-left: 10px;
            color: #00579f;
          }
        }
      }
    }
    .itemInfo__discount {
      display: flex;
      align-items: center;
      gap: 20px;
      .prevPrice {
        color: #a3aebd;
      }
      .discount {
        background-color: #d93a3f;
        color: white;
        font-size: 10px;
        border-radius: 12px;
        width: 32px;
        height: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .itemInfo__currentPrice {
      font-size: 22px;
      font-weight: 600;
    }
    .itemDelete {
      margin-left: auto;
      button {
        border: 0;
        background-color: transparent;
        cursor: pointer;
        &:hover {
          svg {
            color: #fe680a;
          }
        }
      }
    }
  }
}
