.goods-bread-crumbs-container {
  display: flex;
  flex-direction: row;
  gap: 7.5px;
  align-items: center;
  margin: 20px 0;
  flex-wrap: wrap;
  a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 14.5px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #788289;
    text-wrap: nowrap;
    word-wrap: nowrap;
    &:hover {
      color: #fe680a;
    }
  }
  .list-urls {
    display: flex;
    flex-direction: row;
    gap: 7.5px;
    align-items: center;
  }
}
