.PagePersonal {
  &__title {
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 39px;
  }
  .page-form__line {
    display: flex;
    gap: 19px;
    //   margin-bottom: 6px;
  }

  .form-group__short {
    width: 100%;
    display: flex;
    gap: 19px;
  }
  .required {
    color: #ff0000;
  }
  .form-group {
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;

    label {
      display: block;
      width: 100%;
      margin-bottom: 5px;
      font-size: 14px;
      color: #999999;
      font-weight: 400;
    }
    .phone-input-container {
      display: flex;

      input {
        flex: 1;
        padding-left: 45px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        width: 100%;
      }

      .country-select {
        width: 50px;
        border: 1px solid #e0e0e0;
        border-left: none;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f5f5f5;
        cursor: pointer;

        .selected-country {
          width: 20px;
          height: 15px;
          background-color: #e0e0e0;
        }

        .dropdown-arrow {
          font-size: 10px;
          color: #777;
          margin-left: 2px;
        }
      }
    }
    .form-group__short {
      width: 50%;
    }

    input {
      box-sizing: border-box;
      width: 100%;
      padding: 10px 12px;
      border: 1px solid #e0e0e0;
      border-radius: 6px;
      font-size: 14px;
      outline: none;
      transition: border-color 0.2s;

      &:focus {
        border-color: #4169e1;
      }
      &::placeholder {
        color: #999999;
      }
    }
  }
  .button__container {
    margin-top: 17px;
    button {
      border: 0;
      border-radius: 7px;
      width: 152px;
      height: 40px;
      color: white;
      background-color: #ff0000;
      transition: 0.3ms color ease-out;
    }
    button:hover {
      background-color: #d93a3f80;
    }
  }
}
