@mixin admin-responsive-width {
  margin: 0 auto;
  width: 95%;
}

.admin-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #fafbff;
  z-index: 3;
  font-family: 'Roboto', sans-serif;
  .header-admin-cont {
    background-color: #269569;
    padding: 20px 0;
  }
  .header-admin {
    @include admin-responsive-width;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    justify-content: space-between;
    .left {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 15px;
      .goods-dropdown-container {
        position: relative;
        display: inline-block; /* inline-block для компактного розташування */

        .goods-dropdown {
          display: none; /* Ховаємо підменю за замовчуванням */
          position: absolute;
          top: 100%; /* Щоб підменю було під основним пунктом */
          left: 0;
          background-color: #ffffff;
          padding: 10px;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Додаємо тінь */
        }

        /* З'являється при наведенні на контейнер */
        &:hover .goods-dropdown {
          display: block;
        }

        /* Додаткові стилі для посилань у випадаючому меню */
        .goods-dropdown a {
          display: block;
          padding: 5px 10px;
          color: #333;
          white-space: nowrap;
        }

        .goods-dropdown a:hover {
          background-color: #f0f0f0; /* Зміна фону при наведенні */
        }
      }
    }
    .right {
      display: flex;
      align-items: center;
      gap: 15px;
      &__wrapper {
        display: flex;
        align-items: center;
        svg {
          margin-left: 7px;
        }
      }
    }
    a {
      text-decoration: none;
      // font-family: Inter;
      font-size: 16px;
      font-weight: 400;
      line-height: 19.36px;
      text-align: left;
      color: #ffffff;
    }
  }
  .children {
    display: flex;
    flex-direction: column;
    background-color: #fafbff;
    min-height: 100vh;
  }
}
.admin-items-container {
  box-sizing: border-box;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  background-color: #05172fcc;
  .filters {
    padding: 10px 0;
    @include admin-responsive-width;

    display: flex;
    align-items: center;
    gap: 25px;
    height: 45px;
    .filter {
      font-size: 14px;
      font-weight: 400;
      line-height: 16px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: #ffffff;
      padding: 0;
      display: flex;
      flex-wrap: nowrap;
      white-space: nowrap;
      gap: 5px;
      align-items: center;
    }
    .select {
    }
  }
  .admin-items-search {
    display: flex;
    width: 100%;

    position: relative;
    height: 35px;
    input {
      width: 100%;

      margin-left: 15px;
      border-radius: 5px;
      height: 35px;
      border: none;
      outline: none;
      padding-left: 10px;
      box-sizing: border-box;
    }
    .search-svg {
      position: absolute;
      right: 0px;
      height: 35px;
      width: 52px;
      background-color: #269569;
      border-radius: 0 5px 5px 0;
    }
  }
}
