@import '../App.scss';

.about-us-cont {
  @include responsive-width;
  margin-bottom: 30px;
  .about-us {
    max-width: 1100px;
    margin: 0 auto;
    h1 {
      font-family: Roboto;
      font-weight: 500;
      font-size: 30px;
      line-height: 30px;
      text-align: center;
      vertical-align: middle;
      color: #05172f;
      margin: 20px;
    }
    .block {
      padding: 20px;
      margin: 20px 0;
      background-color: #ffffff;
      border-radius: 12px;
      border: 1px solid #e1e6ee; //можливо тимчасове temp темп
      p {
        font-family: Roboto;
        font-weight: 400;
        font-size: 17px;
        line-height: 25px;
        letter-spacing: 0%;
        vertical-align: middle;
        color: #333333;
      }
    }
    .about-form {
      form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        button {
          height: 42px;
          border-radius: 30px;
          background-color: #e2e2e2;
          font-family: Arial;
          font-weight: 700;
          font-size: 16px;
          line-height: 100%;
          letter-spacing: 0%;
          text-align: center;
          vertical-align: middle;
          color: #ffffff;
          border: none;
          outline: none;
          margin-top: 15px;
        }
        .but-active {
          background-color: #339e36;
          cursor: pointer;
        }
      }
      h2 {
        margin: 0;
        font-family: Roboto;
        font-weight: 700;
        font-size: 22px;
        line-height: 24.42px;
        vertical-align: middle;
        color: #05172f;
        margin-bottom: 20px;
      }
      div {
        display: flex;
        flex-direction: column;
        gap: 5px;
        .special-label {
          display: none;
        }
        .input {
          height: 42px;
          width: 100%;
          border-radius: 6px;
          border: 1px solid #cccccc;
          padding: 0;
          padding-left: 7.5px;
          box-sizing: border-box;
        }
        input {
          height: 42px;
          width: 100%;
        }
        textarea {
          width: 100%;
          box-sizing: border-box;
          border-radius: 6px;
          border: 1px solid #cccccc;
          padding: 5px;
        }
      }
      label {
        font-family: Roboto;
        font-weight: 600;
        font-size: 16px;
        line-height: 100%;
        vertical-align: middle;
        color: #333333;

        span {
          font-family: Roboto;
          font-weight: 600;
          font-size: 16px;
          line-height: 100%;
          vertical-align: middle;
          color: #d93a3f;
        }
      }
    }
    .map {
      height: 40vh;
    }
  }
}
