@import './App.scss';

.home-container {
  .home-goods {
    @include responsive-width;
    h2 {
      font-family: Roboto;
      font-size: 25px;
      font-weight: 500;
      line-height: 27px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: #000000;
      margin-top: 0;
    }
  }
}
