@import '../App.scss';

.delivery-container {
  @include responsive-width;
  display: flex;
  flex-direction: column;
  max-width: 1100px;
  .delivery-main {
    margin-bottom: 60px;
    .block {
      padding: 20px;
      margin: 20px 0;
      background-color: #ffffff;
      border-radius: 12px;
      border: 1px solid #e1e6ee; //можливо тимчасове temp темп
    }

    @media (max-width: 768px) {
      margin: 20px 0;
    }
    overflow: hidden;

    .main-title {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      gap: 20px;
      justify-content: center;
      font-family: Roboto;
      font-size: 19px;
      font-weight: 450;
      line-height: 21px;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: #000000;
      @media (max-width: 768px) {
        margin: 10px 0;
      }
      h1 {
        font-family: Roboto;
        font-size: 30px;
        font-weight: 500;
        line-height: 30px;
        text-align: right;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #05172f;
        margin: 0;
        word-wrap: none;
        text-wrap: nowrap;
        padding-left: 0;
      }
    }
    h2 {
      display: flex;
      align-items: center;
      margin: 0;
      padding-top: 5px;
      font-size: 24px;
      font-weight: 550;
      line-height: 27.42px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: #05172f;
    }
    p {
      font-family: Roboto;
      font-size: 17px;
      font-weight: 400;
      line-height: 20px;
      text-align: justified;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: #333333;
      br {
        display: block; /* Забезпечує перенесення на новий рядок */
        margin-top: 5px; /* Відступ зверху у 5 пікселів */
        line-height: normal; /* Додатково можна налаштувати висоту рядка, якщо потрібно */
      }
    }
    h3 {
      font-family: Roboto;
      font-size: 22px;
      font-weight: 550;
      line-height: 24.42px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: #05172f;
    }
    ul {
      margin: 0;
      padding: 0;
      padding-left: 20px;
      list-style: decimal;
      display: flex;
      flex-direction: column;
      gap: 5px;
      font-family: Roboto;
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      padding-left: 25px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: #000000;
      li {
        font-family: Roboto;
        font-size: 17px;
        font-weight: 400;
        line-height: 20px;
        text-align: justified;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #333333;
      }
    }
    a {
      //styleName: Body/Small/400;
      font-family: Roboto;
      font-size: 17px;
      font-weight: 400;
      line-height: 20px;
      text-align: justified;
      text-decoration-line: underline;
      text-decoration-style: solid;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: #333333;
      text-wrap: nowrap;
      word-wrap: nowrap;
      &:hover {
        color: #fe680a;
      }
    }
    h4 {
      font-family: Roboto;
      font-size: 18px;
      font-weight: 480;
      line-height: 22px;
      text-align: justified;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: #000000;
      a {
        font-family: Roboto;
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        text-align: justified;
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-underline-position: from-font;
        text-decoration-skip-ink: auto;
        color: #000000;
      }
    }
  }
}
