@import '../../../[lang]/admin/Admin.scss';
.admin-header-container {
  background-color: #05172f;
  .admin-header {
    padding: 20px 0;
    @include admin-responsive-width;

    .bread-crumb {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 5px;
      a {
        display: flex;
        align-items: center;
        gap: 5px;
        font-family: Public Sans;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #ffffff;
        text-decoration: none;
        svg {
          strong: #ffffff;
          path {
            stroke: #ffffff;
          }
        }
        &:hover {
          color: #fe680a;
        }
      }
    }
    h1 {
      font-family: Inter;
      font-size: 30px;
      font-weight: 400;
      line-height: 36.31px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: #ffffff;
      margin: 10px 0;
    }
  }
}
