@import '@/app/[lang]/(basic-layout)/App.scss';

.retun-goods-container {
  @include responsive-width;
  display: flex;
  align-items: center;
  justify-content: center;
  .block {
    padding: 10px;
    margin: 20px 0;
    background-color: #ffffff;
    border-radius: 12px;
  }
  .return-goods-main {
    max-width: 930px;
    margin: 60px 0;

    @media (max-width: 768px) {
      margin: 20px 0;
    }

    .main-title {
      display: flex;
      align-items: center;
      flex-direction: row;
      gap: 20px;

      @media (max-width: 768px) {
        margin: 10px 0;
      }
      h1 {
        font-size: 30px;
        font-weight: 500;
        line-height: 36.63px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: rgba(5, 23, 47, 1);
        margin: 0;
        white-space: nowrap;
      }
      .line {
        width: 100%;
        height: 2px;
        background-color: rgba(5, 23, 47, 1);
      }
    }
    h2 {
      font-size: 24px;
      font-weight: 500;
      line-height: 29.3px;
      text-align: center;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: #05172f;
      margin: 30px 0;
      @media (max-width: 768px) {
        margin: 15px 0;
      }
    }
    p {
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      text-align: justified;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: #000000;
      a {
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        text-align: justified;
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-underline-position: from-font;
        text-decoration-skip-ink: auto;
        color: #000000;
      }
    }
    ul {
      padding: 0;
      margin: 0;
      margin-left: 20px;
      li {
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        text-align: justified;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #000000;
        a {
          font-size: 16px;
          font-weight: 400;
          line-height: 20px;
          text-align: justified;
          text-decoration-line: underline;
          text-decoration-style: solid;
          text-underline-position: from-font;
          text-decoration-skip-ink: auto;
          color: #000000;
        }
      }
    }
    h3 {
      font-size: 20px;
      font-weight: 500;
      line-height: 24.42px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: #05172f;
    }
    .add-info {
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      text-align: justified;
      color: #000000;
      margin-top: 30px;

      @media (max-width: 768px) {
        margin-top: 15px;
      }
    }
  }
}
