.header-like-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  .title {
    position: relative;
    width: 60px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #ffffff15;
    }

    .count {
      position: absolute;
      width: 12.95px;
      height: 12.95px;
      right: 6px;
      bottom: 6px;
      background-color: #fe680a;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      line-height: 0;
      font-family: Roboto;
      font-size: 8.01px;
      font-weight: 600;
      color: #ffffff;
      border-radius: 100%;
    }
  }

  .dropdown {
    position: absolute;
    top: 100%;
    right: -95px;
    display: none;
    flex-direction: column;
    box-shadow: 0px 5px 40px 0px #0000001f;
    border-radius: 5px;
    padding: 8px 11px;
    background-color: #ffffff;
    opacity: 0;
    transform: translateY(-10px);
    transition:
      opacity 0.3s ease,
      transform 0.3s ease;
    z-index: 10;
    min-width: 212px;

    &.show {
      display: block;
      opacity: 1;
      transform: translateY(0);
    }

    .empty-title {
      margin: 0;
      padding: 0;
      font-family: Roboto;
      font-size: 14px;
      font-weight: 600;
      line-height: 16.94px;
      text-align: center;
      text-underline-position: from-font;
      -webkit-text-decoration-skip-ink: none;
      text-decoration-skip-ink: none;
      color: #000000;
    }
    span {
      display: flex;
      justify-content: center;
      font-family: Roboto;
      font-size: 14px;
      font-weight: 400;
      line-height: 16.94px;
      text-align: center;
      text-underline-position: from-font;
      -webkit-text-decoration-skip-ink: none;
      text-decoration-skip-ink: none;
      color: #000000;
    }
    .liked-container {
      display: flex;
      flex-direction: column;
      max-height: 40vh;
      overflow-y: auto;
      padding: 15px;
      padding-top: 0;

      scrollbar-width: thin; /* Для Firefox */
      scrollbar-color: #797f8b #f0f0f0; /* Колір смуги та фону */

      /* Для браузерів WebKit */
      &::-webkit-scrollbar {
        width: 3px; /* Дуже тонкий скрол */
      }

      &::-webkit-scrollbar-track {
        background: #f0f0f0; /* Світлий фон треку */
      }

      &::-webkit-scrollbar-thumb {
        background-color: #797f8b; /* Основний колір смуги */
        border-radius: 10px;
        border: 1px solid #e0e0e0; /* Легкий контур */
      }

      &::-webkit-scrollbar-thumb:hover {
        background-color: #797f8b; /* Трохи темніший при наведенні */
      }
      p {
        font-family: Roboto;
        font-size: 20px;
        font-weight: 400;
        line-height: 24.2px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #000000;
        margin-bottom: 20px;
      }
      a {
        text-decoration: none;
      }
      .liked-basket {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        .basket-goods-text {
          display: flex;
          flex-direction: column;
          gap: 5px;
          h3 {
            font-family: Roboto;
            font-size: 13px;
            font-weight: 400;
            line-height: 15.73px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            color: #000000;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            margin: 0;
          }
          .price-count-volume {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .volume-and-count {
              display: flex;
              flex-direction: column;
              gap: 2px;
              .volume {
                font-family: Roboto;
                font-size: 14px;
                font-weight: 400;
                line-height: 16.52px;
                text-align: left;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
                color: #797f8b;
              }
              .count {
                font-family: Roboto;
                font-size: 12px;
                font-weight: 400;
                line-height: 14.52px;
                text-align: left;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
                color: #797f8b;
              }
            }
            .price-container {
              display: flex;
              flex-direction: column;
              .price-no-discount {
                font-family: Roboto;
                font-size: 12px;
                font-weight: 500;
                line-height: 14.52px;
                text-align: right;
                text-decoration-line: line-through;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
              }
              .price-with-discount {
                font-family: Roboto;
                font-size: 16px;
                font-weight: 700;
                line-height: 19.36px;
                text-align: right;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
                color: #000000;
              }
            }
          }
        }
        .del {
          cursor: pointer;
        }
      }
    }
    .button-with-price {
      padding: 5px 15px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .price {
        display: flex;
        flex-direction: column;
        gap: 3px;
        p {
          font-family: Inter;
          font-weight: 400;
          font-size: 13px;
          line-height: 100%;
          vertical-align: middle;
          color: #000000;
          margin: 0;
        }
        .price-grn {
          display: flex;
          flex-direction: row;
          gap: 3px;
          align-items: center;
          font-family: 'PT Root UI';
          font-size: 20px;
          font-weight: 700;
          line-height: 22px;
          text-align: left;
          text-underline-position: from-font;
          -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
          color: #000000;
          .grn {
            font-family: 'PT Root UI';
            font-size: 17px;
            font-weight: 700;
          }
        }
      }
      .in-basket {
        button {
          width: 160px;
          height: 38px;
          border-radius: 5px;
          box-sizing: border-box;
          background-color: #fe680a;
          font-family: Inter;
          font-weight: 700;
          font-size: 14px;
          line-height: 20px;
          text-align: center;
          color: #ffffff;
          display: flex;
          align-items: center;
          justify-content: center;
          border: none;
          cursor: pointer;
        }
      }
    }
  }
}
