.header-basket-container {
  position: relative;

  .title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    &:hover {
      background-color: #ffffff15;
    }

    .title {
      position: relative;
      width: 48px;
      height: 40px;
      border-radius: 5px;
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: center;
      transition: background-color 0.3s ease;
      cursor: pointer;

      .count {
        position: absolute;
        width: 13px;
        height: 13px;
        right: 6px;
        bottom: 6px;
        background-color: #fe680a;

        display: flex;
        justify-content: center;
        align-items: center;
        // text-align: center;
        font-size: 8px;
        font-weight: 600;
        color: #ffffff;
        border-radius: 100%;
        line-height: 1;
        span {
          margin: 0;
          padding: 0;
        }
        border-radius: 100%;
      }
    }
    p {
      color: #ffffff;
      margin: 0;
      font-size: 12px;
      line-height: 14px;
      padding-right: 10px;
      @media (max-width: 1024px) {
        display: none;
      }
    }
  }
  .dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    display: none;
    flex-direction: column;
    box-shadow: 0px 8px 40px 0px #0000001f;
    border-radius: 5px;
    padding: 8px 11px;
    background-color: #ffffff;
    opacity: 0;
    transform: translateY(-10px);
    transition:
      opacity 0.3s ease,
      transform 0.3s ease;
    z-index: 10;
    min-width: 212px;
    height: auto;

    &.show {
      display: block;
      opacity: 1;
      transform: translateY(0);
    }

    p {
      margin: 0;
      padding: 0;

      font-size: 14px;
      font-weight: 600;
      line-height: 16.94px;
      text-align: center;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: #000000;
    }

    span {
      display: flex;
      justify-content: center;

      font-size: 14px;
      font-weight: 400;
      line-height: 16.94px;
      text-align: center;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: #000000;
    }
    a {
      text-decoration: none;
    }
    .basket-list {
      display: flex;
      flex-direction: column;
      max-height: 40vh;
      overflow-y: auto;
      padding: 15px;
      scrollbar-width: thin; /* Для Firefox */
      scrollbar-color: #797f8b #f0f0f0; /* Колір смуги та фону */
      gap: 10px;
      overscroll-behavior: contain;

      /* Для браузерів WebKit */
      &::-webkit-scrollbar {
        width: 3px; /* Дуже тонкий скрол */
      }

      &::-webkit-scrollbar-track {
        background: #f0f0f0; /* Світлий фон треку */
      }

      &::-webkit-scrollbar-thumb {
        background-color: #797f8b; /* Основний колір смуги */
        border-radius: 10px;
        border: 1px solid #e0e0e0; /* Легкий контур */
      }

      &::-webkit-scrollbar-thumb:hover {
        background-color: #797f8b; /* Трохи темніший при наведенні */
      }
      .itemWrapper {
        padding-bottom: 10px;
        border-bottom: 1px solid #a3aebd63;
        margin-bottom: 10px;
      }
      p {
        font-size: 20px;
        font-weight: 400;
        line-height: 24.2px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #000000;
        margin-bottom: 20px;
      }
      .basket-goods {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        .basket-goods-text {
          display: flex;
          flex-direction: column;
          gap: 5px;
          .add-or-minus-or-basket {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .add-or-minus {
              display: flex;
              flex-direction: row;
              align-items: center;
              border: 1px solid #05172f;
              height: 24px;
              border-radius: 7px;
              overflow: hidden;
              .count {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 24px;
                color: #000000;
                &:hover {
                  color: #000000;
                }
              }
              .arrow {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #05172f;
                height: 100%;
                width: 24px;
              }
            }
            .del {
              &:hover {
                svg {
                  path {
                    fill: #e52121;
                  }
                }
              }
            }
          }
          h3 {
            font-size: 13px;
            font-weight: 400;
            line-height: 15.73px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            color: #000000;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            margin: 0;
          }
          .price-count-volume {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .volume-and-count {
              display: flex;
              flex-direction: column;
              gap: 2px;
              .volume {
                font-size: 14px;
                font-weight: 400;
                line-height: 16.52px;
                text-align: left;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
                color: #000000;
              }
              .count {
                font-size: 12px;
                font-weight: 400;
                line-height: 14.52px;
                text-align: left;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
                color: #797f8b;
              }
            }
            .price-container {
              display: flex;
              flex-direction: column;
              .price-no-discount {
                font-size: 12px;
                font-weight: 500;
                line-height: 14.52px;
                text-align: right;
                text-decoration-line: line-through;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
              }
              .price-with-discount {
                font-size: 16px;
                font-weight: 700;
                line-height: 19.36px;
                text-align: right;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
                color: #000000;
              }
            }
          }
        }
        .del {
          cursor: pointer;
        }
      }
    }
    .footer-basket {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 10px;
      padding-top: 15px;
      .text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        span {
          font-weight: 400;
          font-size: 13px;
          color: #000000;
        }
        p {
          margin-bottom: 0;
          font-weight: 700;
          font-size: 20px;
          line-height: 24.2px;
          letter-spacing: 0%;
          text-align: right;
          color: #000000;
          display: flex;
          flex-direction: row;
          align-items: flex-end;
          gap: 3px;
          span {
            font-weight: 400;

            display: flex;
            align-items: flex-end;
            font-size: 16px;
            line-height: 24px;
          }
        }
      }
      .button-make-order {
        button {
          border-radius: 5px;
          background-color: #fe680a;
          border: none;
          height: 44px;
          color: #ffffff;
          cursor: pointer;
        }
      }
    }
  }
}
